    .root { /*  .root es el selector para el nodo raíz, que en este caso es el AnchorPane  */
        -fx-border-color: #c56fca; /*  Color del borde  */
        -fx-border-width: 2px; /*  Grosor del borde  */
        -fx-border-style: solid; /*  Estilo del borde (solid, dashed, dotted, etc.)  */
        -fx-border-radius: 10px; /*  El radio del borde, ajusta el valor según tus necesidades */
    }

   .background-image-class {
      -fx-background-image: url("/src/main/resources/images/fondo2.jpg");
      -fx-background-size: cover;
      -fx-background-repeat: no-repeat;
    }